<div class="beer-card">
      <img class="beer-img" src="{{this.image_url}}" alt="a beer">
      <h3 class="card-title">{{this.name}}</h3>
        <h5 class="tagline">{{this.tagline}}</h5>
        <p class="card-text">{{this.description}}</p>
</div>