<div class="container flex-container index-container">
  
  <img src='/images/beer.png' alt='a beer'>

</div>
<div class="container flex-col">

 <div class='button'><a href='/beers'>check the beers!</a></div>
 <div class='button'><a href='/randombeers'>check a random beer!</a></div>

</div>

 